* {
        border: none;
        border-radius: 0;
        font-family:  JetBrains Mono;
        font-size: 14px;
        min-height: 0;
}

#custom-notification {
	background-color: #24283b;
	padding: 5px 10px;
	border-radius: 5px 0px 5px 0px;
}

window#waybar {
        background: transparent;
        color: white;
}

#window {
  background-color: #40485D;
	color: #7aa2f7;
	margin: 5px 0px;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 10px;
}

window#waybar.empty #window {
	background-color: transparent;
}

#workspaces {
	background-color: #40485D;
	margin: 5px;
	margin-left: 10px;
	border-radius: 5px;
}

#workspaces button {
        padding: 5px 10px;
        color: #c0caf5;
}

#workspaces button.focused {
        color: #24283b;
        background-color: #7aa2f7;
        border-radius: 5px;
}

#workspaces button:hover {
	background-color: #7dcfff;
	color: #40485D;
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background-color: #40485D;
	padding: 5px 10px;
	margin: 5px 0px;
}

#custom-date {
	color: #7dcfff;
}

#custom-power {
	color: #db4b4b;
	background-color: #40485d;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#clock {
        color: #bca9e1;
        border-radius: 15px 15px 15px 15px;
        margin-right: 10px;
}

#battery {
        color: #9ece6a;
}

#battery.charging {
        color: #9ece6a;
}

#battery.warning:not(.charging) {
        background-color: #f7768e;
        color: #24283b;
        border-radius: 5px 5px 5px 5px;
}

#network {
	color: #f7768e;
	border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
	color: #e0af68;
}

#wireplumber {
	color: #e0af68;
}

#memory {
        background-color: #40485D;
	color: #ff9e64;
    	padding: 5px 10px;
	margin: 5px 0px;
    	border-radius: 0px 5px 5px 0px;
	margin-right: 10px;
}

#cpu {
    	background-color: #40485D;
    	color: #2ac3de;
    	padding: 5px 10px;
	margin: 5px 0px;
}
